# Obecné Python soubory
*.pyc
__pycache__/

# Virtuální prostředí
venv/

# Statické soubory generované collectstatic
/staticfiles/

# Lokální databáze
db.sqlite3

# Tajné klíče a konfigurace
.env

# Soubory Libreoffice Calc
*.ods

# IDE a systémové soubory
.idea/
.vscode/
*.log
*.bak
.DS_Store
Thumbs.db
