<form method="get" class="admin-search-form" role="search">
    <div>
        <input type="search"
               id="searchbar"
               name="q"
               value="{{ search_term|default_if_none:'' }}"
               placeholder="{{ search_help_text|default:'Hledat…' }}"
               autofocus>
        <button type="submit" class="search-button" aria-label="{% translate 'Search' %}">
            <span class="visually-hidden">{% translate 'Search' %}</span>
        </button>
        {# NEZOBRAZUJE SE help_text, protože už je v placeholderu #}
    </div>
</form>