@page {
    size: A4 landscape;
    margin: 10mm;
}

body {
    font-size: 0.9rem;
    font-family: 'Liberation Sans', 'Arial';
    margin: 0;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

.container-fluid {
    width: 100%;
    padding-right: 6px;
    padding-left: 6px;
    margin-right: auto;
    margin-left: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    color: #212529;
}

.table th,
.table td {
    border: 1px solid #000;
    padding: 5px;
    vertical-align: middle;
}

 /* odlišný padding pro tabulky pro tisk KKK */
.quality-card td,
.quality-card tr {
    padding: 5px 0px;
}

.table-bordered {
    border: 2px solid #000 !important;
    border-collapse: collapse;
}

.text-center {
    text-align: center !important;
}

.text-start {
    text-align: left !important;
}

.text-danger {
    color: #dc3545 !important;
}

.fw-bold {
    font-weight: bold !important;
}

.fw-normal {
    font-weight: normal !important;
}

.small {
    font-size: 0.875em !important;
}

.bg-body-secondary {
    background-color: rgb(221, 222, 224) !important;
}

.bg-body-yellow {
    background-color: rgb(255, 255, 204) !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.h-100 {
    height: 100% !important;
}

.align-top {
    vertical-align: top !important;
}

.align-center {
    vertical-align: middle !important;
}

/* PDF font sizes */
.fs-80 { font-size: 8rem; }
.fs-50 { font-size: 5rem; }
.fs-35 { font-size: 3.5rem; }
.fs-30 { font-size: 3rem; }
.fs-25 { font-size: 2.5rem; }
.fs-20 { font-size: 2rem; }
.fs-17 { font-size: 1.75rem; }
.fs-15 { font-size: 1.5rem; }
.fs-12 { font-size: 1.25rem; }
.fs-11 { font-size: 1.12rem; }
.fs-10 { font-size: 1rem; }
.fs-09 { font-size: 0.9rem; }
.fs-08 { font-size: 0.8rem; }
.fs-07 { font-size: 0.7rem; }
.fs-06 { font-size: 0.6rem; }

.table-secondary {
    background-color: rgb(221, 222, 224);
}

.no-border-bottom {
    border-bottom: none !important;
}

.no-border-top {
    border-top: none !important;
}

.no-border-end {
    border-right: none !important;
}

.no-border-start {
    border-left: none !important;
}
