{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}

{% block content %}
<form method="post">{% csrf_token %}
  {# udržení kontextu akce #}
  <input type="hidden" name="action" value="{{ action_name }}">

  {# odeslání všech vybraných PK zpět #}
  {% for obj in queryset %}
    <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk }}">
  {% endfor %}

  {{ formset.management_form }}

  <table class="adminlist">
    <thead>
      <tr>
        <th>Bedna</th><th>Rozměr</th><th>Artikl</th><th>Typ hlavy</th><th>Popis</th><th>Pozice</th>
      </tr>
    </thead>
    <tbody>
      {% for form in formset.forms %}
        <tr>
          <td>
            {{ form.bedna_id }}  {# hidden input #}
            {{ form.initial.cislo }}
          </td>
          <td>{{ form.initial.prumer }}x{{ form.initial.delka }}</td>
          <td>{{ form.initial.artikl }}</td>
          <td>{{ form.initial.typ_hlavy }}</td>
          <td>{{ form.initial.popis }}</td>
          <td>{{ form.pozice }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="submit-row">
    <input type="submit" name="apply" value="Připravit k navezení" class="default">
  </div>
</form>
{% endblock %}
