{% extends "orders/base.html" %}
{% load static %}

{% block title %}Přehled beden | HPM{% endblock %}

{% block extra_head %}{{ block.super }}
  <link rel="stylesheet" href="{% static 'orders/css/dashboard_bedny.css' %}">
{% endblock %}

{% block script %}
  {{ block.super }}
  <script src="{% static 'orders/js/dashboard_bedny.js' %}" defer></script>
{% endblock %}

{% block content %}
  <div id="dashboard-content"
       hx-get="{% url 'dashboard_bedny' %}"
       hx-trigger="every 10m"
       hx-swap="innerHTML">
    {% include "orders/partials/dashboard_bedny_content.html" %}
  </div>
{% endblock %}


