<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Dodací list</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        @media print {
            @page {
                size: A4 landscape;
                margin: 10mm;
            }
            body {
                -webkit-print-color-adjust: exact;
                print-color-adjust: exact;
            }
        }
        body {
            font-size: 0.9rem;
            font-family: 'Arial';	
        }
        .table td, .table th {
            padding: 0rem !important;
            vertical-align: middle;
        }
        .fs-pdf-15 { font-size: 1.5rem; }
        .fs-pdf-12 { font-size: 1.25rem; }
        .fs-pdf-10 { font-size: 1rem; }
        .fs-pdf-07 { font-size: 0.75rem; }
        .fs-pdf-06 { font-size: 0.625rem; }
        .fs-pdf-05 { font-size: 0.5rem; }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row text-start lh-1">
            <div class="col-7">
                <p class="fs-pdf-06 fw-bold mb-0">HPM HEAT SK s.r.o.</p>
                <p class="fs-pdf-06 mb-0">Naftárska 1413</p>
                <p class="fs-pdf-06 mb-0">908 45 Gbely</p>
                <p class="fs-pdf-06 mb-0">IČO 36341029</p>
            </div>
            <div class="col-5">
                <p class="fs-pdf-06 mb-0">&nbsp;</p>
                <p class="fs-pdf-06 mb-0">&nbsp;</p>
                <p class="fs-pdf-06 mb-0">Mob. 00421/902847613</p>
            </div>
        </div>
        <hr class="my-1">
        <div class="row text-start lh-1">
            <div class="col-7">
                <p class="fs-pdf-06 mb-0">Besitzer der Ware:</p>
                <p class="fs-pdf-06 fw-bold mb-0">{{ kamion.zakaznik.nazev }}</p>
                <p class="fs-pdf-06 mb-0">{{ kamion.zakaznik.adresa }}</p>
                <p class="fs-pdf-06 mb-0">{{ kamion.zakaznik.psc }} {{ kamion.zakaznik.mesto }}</p>
            </div>
            <div class="col-5">
                <p class="fs-pdf-06 mb-0">Adresse der Abgabe:</p>
                <p class="fs-pdf-06 mb-0">{{ kamion.odberatel.nazev }}</p>
                <p class="fs-pdf-06 mb-0">{{ kamion.odberatel.adresa }}</p>
                <p class="fs-pdf-06 mb-0">{{ kamion.odberatel.psc }} {{ kamion.odberatel.mesto }}</p>
            </div>
        </div>
        <div class="row text-start mt-2 lh-1">
            <div class="col-3">
                <p class="fs-pdf-06 fw-bold my-0">LIEFERSCHEIN</p>
            </div>
            <div class="col-4">
                <p class="fs-pdf-06 my-0">EXP/{{ kamion.poradove_cislo }}/{{ kamion.datum|date:"Y" }}/{{ kamion.zakaznik.zkratka }}</p>
            </div>
            <div class="col-5">
                <p class="fs-pdf-06 my-0">Gbely dňa: {{ kamion.datum|date:"d. m. Y" }}</p>
            </div>
        </div>

        <table class="table table-bordered border-black" style="width: 100%; table-layout: fixed; font-family: 'Arial';">
            <thead>
                <tr class="text-center fw-bold fs-pdf-05">
                    <td class="bg-body-secondary" style="width: 5%;">Vorgang+</td>
                    <td class="bg-body-secondary" style="width: 6%;">Artikel-Nr.</td>
                    <td class="bg-body-secondary" style="width: 6%;">Materialcharge</td>
                    <td class="bg-body-secondary" style="width: 3%;">&sum;</td>
                    <td class="bg-body-secondary" style="width: 5%;">Gewicht</td>
                    <td class="bg-body-secondary" style="width: 4%;">Abmess.</td> 
                    <td class="bg-body-secondary" style="width: 3%;">Kopf</td>
                    <td class="bg-body-secondary" style="width: 15%;">Bezeichnung</td>
                    <td class="bg-body-secondary" style="width: 4%;">Ober-fläche</td>
                    <td class="bg-body-secondary" style="width: 5%;">Beschicht.</td>
                    <td class="bg-body-secondary" style="width: 5%;">Behälter-Nr.</td>
                    <td class="bg-body-secondary" style="width: 25%;">Sonder / Zusatzinfo</td>
                    <td class="bg-body-secondary" style="width: 3%;">Lief.</td>	
                    <td class="bg-body-secondary" style="width: 6%;">Fertigungs-auftrags Nr.</td>
                    <td class="bg-body-secondary" style="width: 6%;">Reinheit</td>
                </tr>
            </thead>
            <tbody>
                {% for zakazka in kamion.zakazky_vydej.all %}
                    {% for bedna in zakazka.bedny.all %}
                        <tr class="text-center fs-pdf-05">
                            <td>{{ zakazka.prubeh }}</td>   
                            <td>{{ zakazka.artikl }}</td>
                            <td>{{ bedna.sarze }}</td>
                            {% comment %} Pokud je první běh cyklu, zobrazí se celková hmotnost všech beden v zakázce přes všechny řádky této zakázky {% endcomment %}
                            {% if forloop.first %}
                                <td rowspan="{{ zakazka.bedny.count }}">{{ zakazka.celkova_hmotnost }}</td>
                            {% endif %}
                            <td>{{ bedna.hmotnost }}kg</td>
                            <td>{{ zakazka.prumer }}x{{ zakazka.delka|floatformat:0 }}</td>
                            <td>{{ zakazka.typ_hlavy }}</td>
                            <td>{{ zakazka.popis }}</td>
                            <td>{{ zakazka.povrch }}</td>
                            <td>{{ zakazka.vrstva }}</td>
                            <td>{{ bedna.behalter_nr }}</td>
                            <td>{{ bedna.dodatecne_info }}</td>
                            <td>{{ bedna.dodavatel_materialu }}</td>
                            <td>{{ bedna.vyrobni_zakazka }}</td>
                            <td>{% if bedna.tryskat == 'OT' %}sandgestrahlt{% else %}--{% endif %}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>

        <div class="row text-start lh-1">
            <div class="col-2">
                <p class="fs-pdf-06 mb-0">Hodnota materiálu:</p>
                <p class="fs-pdf-06 mb-0">Celní zařazení</p>
                <p class="fs-pdf-06 mb-0">Země původu:</p>
                <p class="fs-pdf-06 mb-0">Dodací podmínky:</p>
            </div>
            <div class="col-5">
                <p class="fs-pdf-06 mb-0">{{ kamion.cena_za_kamion }} €</p>
                <p class="fs-pdf-06 mb-0">73 181 558</p>
                <p class="fs-pdf-06 mb-0">DE</p>
                <p class="fs-pdf-06 mb-0">DDU</p>
            </div>
            <div class="col-5">
                <p class="fs-pdf-06 mb-0"></p>
            </div>
        </div>        
        <div class="row text-start mt-2 lh-1">
            <div class="col-2">
                <p class="fs-pdf-06 mb-0"></p>
            </div>
            <div class="col-5">
                <p class="fs-pdf-06 mb-0">NETTO: {{ kamion.celkova_hmotnost_netto }} kg</p>
                <p class="fs-pdf-06 mb-0">BRUTTO: {{ kamion.celkova_hmotnost_brutto }} kg</p>
            </div>
            <div class="col-5">
                <p class="fs-pdf-06 mb-0"></p>
            </div>
        </div>     
    </div>
</body>
</html>
