{% extends "orders/dodaci_list_spolecny_landscape.html" %}

{% block table-header %}
<tr class="text-center fw-bold fs-pdf-07">
    <td class="bg-body-secondary" style="width: 4%;">Pos.</td>
    <td class="bg-body-secondary" style="width: 10%;">Bestell-Nr.</td>
    <td class="bg-body-secondary" style="width: 10%;">Artikel-Nr.</td>
    <td class="bg-body-secondary" style="width: 8%;">Abmess.</td>                  
    <td class="bg-body-secondary" style="width: 30%;">Bezeichnung</td>                    
    <td class="bg-body-secondary" style="width: 8%;">Netto kg</td>
    <td class="bg-body-secondary" style="width: 8%;">Brutto kg</td>
    <td class="bg-body-secondary" style="width: 8%;">Behälter-Nr.</td>
    <td class="bg-body-secondary" style="width: 8%;">#</td>
    <td class="bg-body-secondary" style="width: 8%;">Richten</td>
</tr>            
{% endblock %}                

{% block table-body %}
<tr class="text-center fs-pdf-07 {% if bedna.fakturovat == False %}table-warning{% endif %}">
    <td>{{ pos }}</td>
    <td>{{ bedna.vyrobni_zakazka }}</td>
    <td>{{ bedna.zakazka.artikl }}</td>
    <td>{{ zakazka.prumer }}x{{ zakazka.delka|floatformat:0 }}</td>                          
    <td>{{ zakazka.popis }}</td>                            
    <td>{{ bedna.hmotnost }}</td>
    <td>{{ bedna.hmotnost_brutto }}</td>
    <td>{{ bedna.behalter_nr }}</td>
    <td>{{ bedna.cislo_bedny }}</td>
    <td>{% if bedna.rovnat == 'VY' %}gerichtet{% else %}--{% endif %}</td>
</tr>                      
{% endblock %}                    