<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Karta bedny</title>
    <link rel="stylesheet" href="{% static 'orders/css/pdf_shared.css' %}">

</head>
<body>
    <div class="container-fluid">
        <table class="table table-bordered" style="width: 100%; table-layout: fixed;">
            <tbody>
                <tr>
                    <td colspan="4" rowspan="3" class="text-center small"">
                        Technologický předpis: {{ bedna.zakazka.predpis.nazev }}
                    </td>
                    <td colspan="4" rowspan="3" class="text-center fw-bold fs-15">
                        KARTA BEDNY
                    </td>
                    <td class="text-center bg-body-secondary fs-06">
                        nakládání
                    </td>
                    <td class="text-center bg-body-secondary fs-06">
                        pletivo
                    </td>
                    <td colspan="3" rowspan="3" class="text-center bg-body-secondary fs-12 fw-bold">
                        POPOUŠTĚNÍ:
                    </td>
                    <td colspan="5" rowspan="3" class="text-center bg-body-secondary fs-12 fw-bold">
                        {{ bedna.zakazka.predpis.popousteni }}
                    </td>
                </tr>
                <tr>
                    <td rowspan="2" class="text-center bg-body-secondary fw-bold">
                        {{ bedna.zakazka.predpis.sarzovani }}
                    </td>
                    <td rowspan="2" class="text-center bg-body-secondary fs-10 fw-bold">
                        {{ bedna.zakazka.predpis.pletivo|default:"?" }}
                    </td>
                </tr>
                <tr></tr>

                <tr>
                    <td colspan="3" rowspan="7" class="text-center fw-bold fs-17">
                        HPM HEAT SK
                    </td>
                    <td colspan="8" rowspan="3" class="text-center text-danger fs-25 fw-bold">
                        {{ bedna.zakazka.kamion_prijem.zakaznik.zkraceny_nazev }}
                    </td>
                    <td colspan="2" rowspan="7" class="text-center fw-bold fs-35">
                        {{ bedna.zakazka.predpis.skupina }}
                    </td>
                    <td colspan="3" rowspan="3" class="text-center no-border-end">
                        Počet beden:
                    </td>
                    <td colspan="2" rowspan="3" class="text-center text-danger fs-20 fw-bold no-border-start">
                        {{ bedna.poradi_bedny }}/{{ bedna.zakazka.pocet_beden }}
                    </td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td colspan="8" rowspan="4" class="text-center text-danger fs-25 fw-bold">
                        {{ bedna.zakazka.artikl }}
                    </td>
                    <td colspan="3" rowspan="4" class="text-center no-border-end">
                        Odfosfátování:
                    </td>
                    <td colspan="2" rowspan="4" class="text-center text-danger fs-17 fw-bold no-border-start">
                        {% if bedna.odfosfatovat %}ANO{% else %}-{% endif %}
                    </td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr></tr>

                <tr>
                    <td colspan="3" rowspan="4" class="text-start fs-17 fw-bold no-border-end">
                        Označení:
                    </td>
                    <td colspan="8" rowspan="4" class="text-center text-danger fs-25 fw-bold no-border-start">
                        {{ bedna.zakazka.zkraceny_popis|slice:":18" }}
                    </td>
                    <td colspan="7" rowspan="4" class="text-center fs-17 fw-bold no-border-bottom">
                        <div style="display: flex; justify-content: space-between; width: 100%;">
                            <span style="padding: 0 5px;">ČÍSLO BEDNY:{% if bedna.behalter_nr %}</span>
                            <span style="padding: 0 5px;">({{ bedna.behalter_nr }}){% endif %}</span>
                        </div>
                    </td>           
                </tr>
                <tr></tr>
                <tr></tr>
                <tr></tr>

                <tr>
                    <td colspan="3" rowspan="4" class="text-start fs-17 fw-bold no-border-end">
                        Rozměr:
                    </td>
                    <td colspan="7" rowspan="4" class="text-center text-danger fw-bold fs-35 no-border-start">
                        {{ bedna.zakazka.prumer }}x{{ bedna.zakazka.delka|floatformat:0 }}
                    </td>
                    <td colspan="8" rowspan="14" class="text-center text-danger fw-bold no-border-top fs-80 n">
                        {{ bedna.cislo_bedny }}
                    </td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr></tr>
                                
                <tr>
                    <td colspan="3" rowspan="4" class="text-start fs-17 fw-bold no-border-end">
                        Zakázka:
                    </td>
                    <td colspan="7" rowspan="4" class="text-center text-danger fs-25 fw-bold no-border-start">
                        {{ bedna.zakazka.kamion_prijem.datum|date:"d.m.Y" }}
                    </td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr></tr>

                <tr>
                    <td colspan="10" rowspan="6" style="padding: 0;">
                        <table class="table table-secondary text-center mb-0 fs-07" style="width: 100%;">
                            <tr>
                                <td class="fs-08">
                                    {{ bedna.zakazka.predpis.popis_ohyb }}<br>
                                    {{ bedna.zakazka.predpis.popis_ohyb_2|default:"" }}
                                </td>
                                <td class="fs-08">
                                    {{ bedna.zakazka.predpis.popis_krut }}<br>
                                    {{ bedna.zakazka.predpis.popis_krut_2|default:"" }}
                                </td>
                                <td class="fs-08">
                                    {{ bedna.zakazka.predpis.popis_povrch|linebreaksbr }}<br>
                                    {{ bedna.zakazka.predpis.popis_povrch_2|default:"" }}
                                </td>
                                <td class="fs-08">
                                    {{ bedna.zakazka.predpis.popis_jadro|linebreaksbr }}<br>
                                    {{ bedna.zakazka.predpis.popis_jadro_2|default:"" }}
                                </td>
                                <td class="fs-08">
                                    {{ bedna.zakazka.predpis.popis_vrstva|linebreaksbr }}<br>
                                    {{ bedna.zakazka.predpis.popis_vrstva_2|default:"" }}
                                </td>
                            </tr>
                            <tr>
                                <td class="fs-08 fw-bold">
                                    {{ bedna.zakazka.predpis.ohyb }}
                                </td>
                                <td class="fs-08 fw-bold">
                                    {{ bedna.zakazka.predpis.krut }}
                                </td>
                                <td class="fs-08 fw-bold">
                                    {{ bedna.zakazka.predpis.povrch|linebreaksbr }}
                                </td>
                                <td class="fs-08 fw-bold">
                                    {{ bedna.zakazka.predpis.jadro|linebreaksbr }}
                                </td>
                                <td class="fs-08 fw-bold">
                                    {{ bedna.zakazka.predpis.vrstva|linebreaksbr }}<br>
                                    {{ bedna.zakazka.predpis.vrstva_2|default:"" }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr></tr>
                <tr></tr>
                <tr></tr>
                <tr></tr>

                <tr class="fs-06">
                    <td colspan="2" rowspan="2" class="align-top text-start" style="height: 34px;">vrch [%]</td>
                    <td rowspan="2" class="text-center fs-10 fw-bold">A</td>
                    <td colspan="2" rowspan="2" class="align-top text-start">vrch [%]</td>
                    <td rowspan="2" class="text-center fs-10 fw-bold">B</td>                    
                    <td colspan="2" rowspan="2" class="align-top text-start">vrch [%]</td>
                    <td rowspan="2" class="text-center fs-10 fw-bold">C</td>
                    <td colspan="2" rowspan="2" class="align-top text-start">vrch [%]</td>
                    <td rowspan="2" class="text-center fs-10 fw-bold">D</td>
                    <td colspan="6" rowspan="12" class="align-center text-center text-danger fw-bold fs-50">
                        {{ bedna.hmotnost|floatformat:0 }}
                        <span class="fs-25 fw-bold">kg</span>
                    </td>                
                </tr>
                <tr></tr>

                <tr class="fs-06">
                    <td colspan="2" rowspan="2" class="align-top text-start" style="height: 34px;">spodek [%]</td>
                    <td rowspan="4" class="align-top text-center">vyložil:</td>
                    <td colspan="2" rowspan="2" class="align-top text-start" style="height: 34px;">spodek [%]</td>
                    <td rowspan="4" class="align-top text-center">vyložil:</td>
                    <td colspan="2" rowspan="2" class="align-top text-start" style="height: 34px;">spodek [%]</td>
                    <td rowspan="4" class="align-top text-center">vyložil:</td>
                    <td colspan="2" rowspan="2" class="align-top text-start" style="height: 34px;">spodek [%]</td>
                    <td rowspan="4" class="align-top text-center">vyložil:</td>
                </tr>
                <tr></tr>
                <tr class="fs-06">
                    <td colspan="2" rowspan="2" class="align-top text-start" style="height: 34px;">šarže:</td>
                    <td colspan="2" rowspan="2" class="align-top text-start">šarže:</td>
                    <td colspan="2" rowspan="2" class="align-top text-start">šarže:</td>
                    <td colspan="2" rowspan="2" class="align-top text-start">šarže:</td>                    
                </tr>
                <tr></tr>
                <tr>
                    <td colspan="2" rowspan="2" class="align-top text-start fs-06" style="height: 34px;">vrch [%]</td>
                    <td rowspan="2" class="text-center fs-10 fw-bold">E</td>
                    <td colspan="9" rowspan="6" style="padding: 0;">
                        <table class="table mb-0 fs-06" style="width: 100%;">
                            <tr>
                                <td colspan="2" class="text-center small">
                                    Mezioperační kontrola                                  
                                </td>
                                <td colspan="2" class="text-center fs-10 fw-bold">TRYSKÁNÍ ano:</td>
                                <td>&nbsp;</td>
                                <td colspan="2" class="text-center small">Výstupní kontrola</td>
                                <td colspan="2" class="text-center bg-body-secondary small">Uvolněno k expedici</td>
                            </tr>
                            <tr>
                                <td colspan="2" rowspan ="5" class="text-center fs-20 fw-bold">-</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td colspan="2" rowspan="5">&nbsp;</td>
                                <td colspan="2" rowspan="5" class="bg-body-secondary">&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="text-center">1 2 3 4 5</td>
                                <td class="text-center">1 2 3 4 5</td>
                                <td class="text-center">1 2 3 4 5</td>
                            </tr>        
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="text-center">1 2 3 4 5</td>
                                <td class="text-center">1 2 3 4 5</td>
                                <td class="text-center">1 2 3 4 5</td>
                            </tr> 
                            <tr>
                                <td colspan="3" style="font-size: 0.3rem;">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr></tr>
                <tr class="fs-06">
                    <td colspan="2" rowspan="2" class="align-top text-start" style="height: 34px;">spodek [%]<br>&nbsp;</td>
                    <td rowspan="4" class="align-top text-center">vyložil:</td>
                </tr>
                <tr></tr>
                <tr>
                    <td colspan="2" rowspan="2" class="align-top text-start fs-06" style="height: 34px;">šarže:</td>
                </tr>
                <tr></tr>  
            </tbody>
        </table>
    </div>
</body>
</html>
