<nav class="navbar navbar-expand-lg py-2 my-1 rounded" style="background-color: #214290; color: #ffde17;">
    <div class="container-fluid d-flex flex-wrap align-items-center justify-content-between">
        <div class="d-flex align-items-center gap-2">
            <!-- Dropdown: Výběr modulu -->
            <div class="btn-group btn-group-sm dropdown my-1 me-2">
                <button class="btn dropdown-toggle"
                        style="background-color: #ffde17; color: #214290; border-color: #ffde17;"
                        type="button"
                        id="dropdownMenuButton1"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    PŘEHLEDY
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li>
                        <a class="dropdown-item small{% if db_table == 'dashboard_bedny' %} active{% endif %}"
                           {% if db_table == 'dashboard_bedny' %}aria-current="page"{% endif %}
                           href="{% url 'dashboard_bedny' %}">Přehled beden</a>
                    </li>
                    <li>
                        <a class="dropdown-item small{% if db_table == 'dashboard_kamiony' %} active{% endif %}"
                           {% if db_table == 'dashboard_kamiony' %}aria-current="page"{% endif %}
                           href="{% url 'dashboard_kamiony' %}">Přehled kamionů</a>
                    </li>
                    <li>
                        <a class="dropdown-item small{% if db_table == 'bedny_k_navezeni' %} active{% endif %}"
                           {% if db_table == 'bedny_k_navezeni' %}aria-current="page"{% endif %}
                           href="{% url 'dashboard_bedny_k_navezeni' %}">Přehled beden k navezení</a>
                    </li>
                    <li>
                        <a class="dropdown-item small{% if db_table == 'dashboard_vyroba' %} active{% endif %}"
                           {% if db_table == 'dashboard_vyroba' %}aria-current="page"{% endif %}
                           href="{% url 'dashboard_vyroba' %}">Přehled výroby</a>
                    </li>
                    <li>
                        <a class="dropdown-item small{% if db_table == 'dashboard_vyroba_historie' %} active{% endif %}"
                           {% if db_table == 'dashboard_vyroba_historie' %}aria-current="page"{% endif %}
                           href="{% url 'dashboard_vyroba_historie' %}">Historie výroby</a>
                    </li>
                </ul>
            </div>
            <!-- Button: Rychlé založení šarže -->
            {% if perms.orders.add_sarze and perms.orders.add_sarzekrok and perms.orders.add_sarzekrokbedna %}
                <div>
                    <a href="{% url 'rychle_zalozeni_sarze' %}"
                    class="btn btn-light btn-sm"
                    style="background-color: #ffde17; color: #214290; border-color: #ffde17;">
                        RYCHLÉ ZALOŽENÍ ŠARŽE
                    </a>
                </div>
            {% endif %}
        </div>
        <!-- Uživatelská sekce -->
        <div class="d-flex align-items-center gap-2">
            {% if user.is_authenticated %}
                <div class="text-end me-2">
                    <p class="h6 small mb-0" style="color: #ffde17;">Přihlášený uživatel:</p>
                    <p class="h6 small text-center mb-0" style="color: #ffde17;">{{ user.first_name }} {{ user.last_name }}</p>
                </div>
                {% if db_table == 'home' %}
                    <a class="btn btn-light btn-sm me-2" href="{% url 'password_change' %}">Změnit heslo</a>
                {% endif %}
                <form id="logout-form" method="post" action="{% url 'logout' %}" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm"
                            style="background-color: #ffde17; color: #214290; border-color: #ffde17;">
                        Odhlásit se
                    </button>
                </form>
            {% else %}
                <a class="btn btn-sm"
                   style="background-color: #ffde17; color: #214290; border-color: #ffde17;"
                   href="{% url 'admin:login' %}">Přihlásit se</a>
            {% endif %}
        </div>
    </div>
</nav>




