{% extends 'admin/base.html' %}

{% block extrastyle %}{{ block.super }}
<style>
html[data-theme="light"], :root {
  --primary: #214290;
  --secondary: #132e9a;
  --accent: #ffde17;
  --primary-fg: #fff;

  --link-fg:  var(--secondary);
  --link-selected-fg: var(--primary);

  --header-color: var(--accent);
  --header-branding-color: var(--accent);
  --header-bg: var(--secondary);
  --header-link-color: #ffde17;

  --breadcrumbs-fg: var(--secondary);
  --breadcrumbs-link-fg:rgb(5, 1, 36);
  --breadcrumbs-bg: #ffde17;

  --darkened-bg: #f8f8f8; /* A bit darker than --body-bg */
  --selected-bg: #e4e4e4; /* E.g. selected table cells */
  --selected-row: var(--accent);

  --button-fg: rgb(179, 177, 189);
  --button-bg: var(--secondary);
  --button-hover-bg: var(--primary);
  --default-button-bg: #ffde17;
  --default-button-hover-bg: var(--secondary);
  --close-button-bg: #747474;
  --close-button-hover-bg: #333;
  --delete-button-bg: #ba2121;
  --delete-button-hover-bg: #a41515;

  --object-tools-fg: var(--button-fg);
  --object-tools-bg:  var(--secondary);
  --object-tools-hover-bg: var(--primary);
}
@media (prefers-color-scheme: dark) {
    :root {
      --primary: #264b5d;
      --primary-fg: #f7f7f7;
  
      --body-fg: #eeeeee;
      --body-bg: #121212;
      --body-quiet-color: #d0d0d0;
      --body-medium-color: #e0e0e0;
      --body-loud-color: #ffffff;
  
      --breadcrumbs-link-fg: #e0e0e0;
      --breadcrumbs-bg: var(--primary);
      --breadcrumbs-fg: #ffde17;      

  
      --link-fg: #81d4fa;
      --link-hover-color: #4ac1f7;
      --link-selected-fg: #6f94c6;
  
      --hairline-color: #272727;
      --border-color: #353535;
  
      --error-fg: #e35f5f;
      --message-success-bg: #006b1b;
      --message-warning-bg: #583305;
      --message-error-bg: #570808;
  
      --darkened-bg: #212121;
      --selected-bg: #1b1b1b;
      --selected-row: #00363a;
  
      --close-button-bg: #333333;
      --close-button-hover-bg: #666666;

      color-scheme: dark;
    }
  }
</style>
{% endblock %}