{% extends "admin/base_site.html" %}
{% load custom_filters%}

{% block content %}
<div id="content" class="flex">
  {% if errors %}
    <ul class="errorlist">
      {% for err in errors %}
        <li>{{ err }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <form method="post" enctype="multipart/form-data" novalidate>
  {% csrf_token %}
  <div class="module aligned">
      <fieldset class="module aligned">
      <div class="form-row">
          {{ form.file.errors }}
          <label for="{{ form.file.id_for_label }}">{{ form.file.label }}</label>
          {{ form.file|add_class:"vTextField" }}
      </div>
      </fieldset>
  </div>

  <div class="submit-row">
      <input type="submit" value="Importovat" class="default">
  </div>
  </form>
</div>
{% endblock %}

