{% extends "orders/dodaci_list_spolecny_landscape.html" %}

{% block table-header %}
<tr class="text-center fw-bold fs-pdf-05">
    <td class="bg-body-secondary" style="width: 3%;">Pos.</td>
    <td class="bg-body-secondary" style="width: 5%;">Vorgang+</td>
    <td class="bg-body-secondary" style="width: 6%;">Artikel-Nr.</td>
    <td class="bg-body-secondary" style="width: 6%;">Materialcharge</td>
    <td class="bg-body-secondary" style="width: 3%;">&sum;</td>
    <td class="bg-body-secondary" style="width: 5%;">Gewicht</td>
    <td class="bg-body-secondary" style="width: 4%;">Abmess.</td> 
    <td class="bg-body-secondary" style="width: 3%;">Kopf</td>
    <td class="bg-body-secondary" style="width: 14%;">Bezeichnung</td>
    <td class="bg-body-secondary" style="width: 4%;">Ober-fläche</td>
    <td class="bg-body-secondary" style="width: 5%;">Beschicht.</td>
    <td class="bg-body-secondary" style="width: 5%;">Behälter-Nr.</td>
    <td class="bg-body-secondary" style="width: 22%;">Sonder / Zusatzinfo</td>
    <td class="bg-body-secondary" style="width: 3%;">Lief.</td>	
    <td class="bg-body-secondary" style="width: 6%;">Fertigungs-auftrags Nr.</td>
    <td class="bg-body-secondary" style="width: 5%;">Reinheit</td>
    <td class="bg-body-secondary" style="width: 2%;">Verz.</td>
</tr>
{% endblock %}

{% block table-body %}
<tr class="text-center fs-pdf-05 {% if bedna.fakturovat == False %}table-warning{% endif %}">
    <td>{{ pos }}</td>
    <td>{{ zakazka.prubeh }}</td>   
    <td>{{ zakazka.artikl }}</td>
    <td>{{ bedna.sarze }}</td>
    {% comment %} Pokud se jedná o první bednu v zakázce,
    zobrazí se celková hmotnost všech beden v zakázce přes všechny řádky této zakázky {% endcomment %}
    {% if bedna.poradi_bedny == 1 %}
        <td rowspan="{{ zakazka.bedny.count }}">{{ zakazka.celkova_hmotnost|floatformat:"1g" }}</td>
    {% endif %}
    <td>{{ bedna.hmotnost|floatformat:1 }} kg</td>
    <td>{{ zakazka.prumer }}x{{ zakazka.delka|floatformat:0 }}</td>
    <td>{{ zakazka.typ_hlavy }}</td>
    <td>{{ zakazka.popis }}</td>
    <td>{{ zakazka.povrch }}</td>
    <td>{{ zakazka.vrstva }}</td>
    <td>{{ bedna.behalter_nr }}</td>
    <td>{{ bedna.dodatecne_info }}</td>
    <td>{{ bedna.dodavatel_materialu }}</td>
    <td>{{ bedna.vyrobni_zakazka }}</td>
    <td>{% if bedna.tryskat == 'OT' %}sandgest.{% else %}--{% endif %}</td>
    <td>{% if bedna.zinkovat == 'UV' %}✔️{% endif %}</td>
</tr>
{% endblock %}