{% load custom_filters %}

<div class="alert" role="alert" style="background-color: #214290; color: #ffde17; font-family: 'Segoe UI';">
  <h3>Přehled beden k navezení</h3>
  <h6>Naposledy aktualizováno: {{ current_time|date:"d.m.Y H:i" }}</h6>
</div>

<div class="row flex-nowrap overflow-auto">
  <div class="col-xxl-5 col-xl-6 col-lg-8 col-md-10 col-sm-12 mb-4">
    <table class="table table-sm align-middle mb-0 text-center">
      <thead>
        <tr style="font-size: 1.2rem;">
          <th colspan="4" class="fw-bold" style="background-color: #ffde17; color: #214290;">Bedny k navezení</th>
        </tr>
      </thead>
      {% if groups %}
        <tbody>
          {% for group in groups %}
            <tr>
              <th colspan="4" style="background-color: #ffde17; color: #214290;">POZICE {{ group.pozice }}</th>
            </tr>
            <tr>
              <th style="background-color: #214290; color: #ffde17;">Číslo bedny</th>
              <th style="background-color: #214290; color: #ffde17;">Rozměr</th>
              <th style="background-color: #214290; color: #ffde17;">Popis</th>
              <th style="background-color: #214290; color: #ffde17;">Poznámka</th>
            </tr>          
            {% for zakazka in group.zakazky %}
              <tr>
                <th colspan="4" style="background-color: #ffde17; color: #214290;">ZAKÁZKA {{ zakazka.zakazka }}</th>
              </tr>
              <tr>
                <td>{{ zakazka.bedna.cislo_bedny }}</td>
                <td>{{ zakazka.bedna.zakazka.prumer }} x {{ zakazka.bedna.zakazka.delka }}</td>
                <td>{{ zakazka.bedna.zakazka.popis }}</td>
                <td>{{ zakazka.bedna.poznamka }}</td>
              </tr>
            {% endfor %}
          {% endfor %}  
        </tbody>                  
      {% else %}
        <tbody>
          <tr>
            <th colspan="4" style="background-color: #ffde17; color: #214290;">Žádné bedny ve stavu K_NAVEZENI.</th>
          </tr>
        </tbody>
      {% endif %}
    </table>     
  </div>
</div> 
