{% load custom_filters %}

<div class="row flex-nowrap overflow-auto">
  <div class="col-xxl-5 col-xl-6 col-lg-8 col-md-10 col-sm-12 mb-4">
    <div class="alert" role="alert" style="background-color: #214290; color: #ffde17; font-family: 'Segoe UI';">
      <h3>Přehled beden k navezení</h3>
      <h6>Naposledy aktualizováno: {{ current_time|date:"d.m.Y H:i" }}</h6>
    </div>    
    <table class="table table-sm align-middle mb-0 text-center">
      <thead>
        <tr style="font-size: 1.2rem;">
          <th colspan="5" class="fw-bold" style="background-color: #ffde17; color: #214290;">Bedny k navezení</th>
        </tr>
      </thead>
      <tbody>      
        {% if groups %}
          {% for group in groups %}
            <tr>
              <th colspan="5" style="background-color: #ffde17; color: #214290;">POZICE {{ group.pozice }}</th>
            </tr>
            <tr>
              <th style="background-color: #214290; color: #ffde17;">Artikl</th>
              <th style="background-color: #214290; color: #ffde17;">Číslo bedny</th>
              <th style="background-color: #214290; color: #ffde17;">Rozměr</th>
              <th style="background-color: #214290; color: #ffde17;">Popis</th>
              <th style="background-color: #214290; color: #ffde17;">Poznámka</th>
            </tr>          
            {% for zakazka_group in group.zakazky_group %}
              {% for bedna in zakazka_group.bedny %}
                {% if forloop.first %}
                  <tr style="border-top: 2px solid #214290;">
                {% else %}
                  <tr>
                {% endif %}
                  {% if forloop.first %}
                    <td rowspan="{{ zakazka_group.bedny|length }}">{{ zakazka_group.zakazka.artikl }}</td>
                  {% endif %}
                  <td>{{ bedna.cislo_bedny }}</td>
                  <td>{{ zakazka_group.zakazka.prumer }} x {{ zakazka_group.zakazka.delka }}</td>
                  <td>{{ zakazka_group.zakazka.popis }}</td>
                  <td>{{ bedna.poznamka|default:"" }}</td>
                </tr>
              {% endfor %}
            {% endfor %}
          {% endfor %}
        {% else %}
          <tr>
            <th colspan="5" style="background-color: #ffde17; color: #214290;">Žádné bedny ve stavu K_NAVEZENI.</th>
          </tr>
        {% endif %}
      </tbody>
    </table>     
  </div>
</div> 
