{% load custom_filters %}

<div class="alert alert-dark" role="alert">
  <h3>Přehled měsíčních a ročních příjmů a výdejů v kg dle jednotlivých zákazníků.</h3>
  <h6>Naposledy aktualizováno {{ current_time|date:"d.m.Y H:i" }}</h6>
</div>

<div class="row mb-4">
  {% for mesic, mesicni_data in mesicni_pohyby.items %}
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card h-100 shadow-sm">
        <div class="card-header fw-bold text-primary">
          {{ mesic }} - {{ rok }}
        </div>
        <div class="card-body p-2">
          <table class="table table-sm table-bordered align-middle mb-0 text-center">
            <thead>
              <tr class="table-secondary">
                <th>Zákazník</th>
                <th>Příjem</th>
                <th>Výdej</th>
                <th>Rozdíl</th>
              </tr>
            </thead>
            <tbody>
              {% for zakaznik, data in mesicni_data.items %}
                {% if zakaznik == "CELKEM" %}
                  <tr class="table-info fw-bold">
                {% elif forloop.counter|divisibleby:2 %}
                  <tr class="table-light">  
                {% else %}
                  <tr>
                {% endif %}                
                    <td>{{ zakaznik }}</td>
                    <td>{{ data.prijem|floatformat:0 }}</td>
                    <td>{{ data.vydej|floatformat:0 }}</td>
                    <td>{{ data.rozdil|floatformat:0 }}</td>
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
